.App {
  background-color: red;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

button {
  font-size: calc(10px + 2vmin);
}
